---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Icon from "../components/Icon.astro";
import ContactCTA from "../components/ContactCTA.astro";
import EarthPreview from "../components/EarthPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const planetblog = (await getCollection("earth")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Earth | Stellar Discussions"
	description="Earth (Germanic) / Tellus or Terra (Roman) United Federation of Planets Section 31 Planet #13"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<div class="wrapper stack gap-2">
				<a class="back-link" href="/planets/"
					><Icon icon="arrow-left" />Planets</a
				>
			<Hero
				title="Earth"
				tagline="Earth (Germanic) / Tellus or Terra (Roman)"
				align="start"
			/>
			<Grid variant="offset">
				{
					planetblog.map((project) => (
						<li>
							<EarthPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
