---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import ExtraTerrestrialsPreview from "../components/ExtraTerrestrialsPreview.astro";

const projects = (await getCollection("extraterrestrials")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Extra Terrestrials | CHANGEME"
	description="Learn about beings from other worlds."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Extra Terrestrials"
				tagline="Learn about beings from other worlds."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<ExtraTerrestrialsPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
