---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import profilePicImage from "/src/assets/StellarDiscussions.png";
import planetsImage from "/src/assets/sol-system.jpg";
import EarthPreview from "../components/EarthPreview.astro";
import ArcturiansPreview from "../components/ArcturiansPreview.astro";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";
import SupportCTA from "../components/SupportCTA.astro";

const earthblog = (await getCollection("earth")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);

const arcturiansblog = (await getCollection("arcturians")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="The Cosmos are Alive"
					tagline="It is time for humans to rediscover how to speak with the planets, stars, and beings from other worlds."
					align="start"
				/>

				<Image
					alt="Stellar Discussions Grid"
					width="620"
					height="620"
					loading="eager"
					src={profilePicImage}
				/>
			</header>
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="testimonial">
				<h3>Carmelina the Channel</h3>
				<p>
					Carmelina is a multidimensional traveler who’s had a passion
					for channeling planets, stars, and extraterrestrial beings
					since 2013. The conversations Carmelina has with them are
					explorations of their consciousness. The messages she brings
					back enable us to discover an unknown part of them.
					Carmelina is your information bridge for other planets,
					stars and extraterrestrial beings. Hear what they have to
					say to us and gain understanding and insight. Be a part of
					the exploration team and submit your questions for upcoming
					channelings.
				</p>
			</section>
			<section class="testimonial center">
				<iframe
					width="560"
					height="315"
					src="https://www.youtube-nocookie.com/embed/sxCR014xsX8?si=r4ZHGGZO6p8LvF4H"
					title="YouTube video player"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					referrerpolicy="strict-origin-when-cross-origin"
					allowfullscreen></iframe>
			</section>

			<SupportCTA />
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Messages from the Planets</h3>
					<p>Hear what the planets have to say.</p>
				</header>

				<div class="cta">
					<CallToAction href="/planets/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
				{
					earthblog.map((project) => (
						<ul>
							<EarthPreview project={project} />
						</ul>
					))
				}
			</section>

			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Messages from Extraterrestrials</h3>
					<p>Hear what people not from this world have to say.</p>
				</header>

				<div class="cta">
					<CallToAction href="/extraterrestrials/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
				{
					arcturiansblog.map((project) => (
						<ul>
							<ArcturiansPreview project={project} />
						</ul>
					))
				}
			</section>

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Wisdom from the Cosmos</h3>
					<p>The heavens look kindly upon us.</p>
				</header>

				<div class="gallery">
					<Grid variant="testimonial">
						{
							(
								<>
									<div class="testimonial-card">
										<section>
											Lorem ipsum dolor sit amet,
											consectetur adipiscing elit.
											Curabitur posuere commodo venenatis.
											Pellentesque habitant morbi
											tristique senectus et netus et
											malesuada fames ac turpis egestas.
											<hr />
											Mother Gaia
										</section>
									</div>
									<div class="testimonial-card">
										<section>
											Nam non ligula vel metus efficitur
											hendrerit. In hac habitasse platea
											dictumst. Praesent et mauris ut mi
											dapibus semper.
											<hr />
											Sol
										</section>
									</div>
								</>
							)
						}
					</Grid>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.testimonial {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		font-size: var(--text-lg);
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 1 / 1;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.testimonial {
			display: flex;
			flex-direction: column;
			align-items: start;
			padding-inline: 2.5rem;
			gap: 2rem;
			font-size: var(--text-xl);
		}

		.center {
			/*
			display: grid;
			grid-area: 1 / 1 / 1;
			*/
			align-items: center;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 1 / 1;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: "";
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url("/src/assets/backgrounds/noise.png") top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: "header header header header" "gallery gallery gallery gallery";
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	.testimonial-card {
		display: flex;
		height: auto;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		padding: 2rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
