---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Icon from "../components/Icon.astro";
import ContactCTA from "../components/ContactCTA.astro";
import LunaPreview from "../components/LunaPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const planetblog = (await getCollection("luna")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Luna | Stellar Discussions"
	description="Luna (Roman) / Mani (Norse) / Selene (Greek)"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<div class="wrapper stack gap-2">
				<a class="back-link" href="/planets/"
					><Icon icon="arrow-left" />Planets</a
				>
			<Hero
				title="Luna"
				tagline="Luna (Roman) / Mani (Norse) / Selene (Greek)"
				align="start"
			/>
			<Grid variant="small">
				{
					planetblog.map((project) => (
						<li>
							<LunaPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
