---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Icon from "../components/Icon.astro";
import ContactCTA from "../components/ContactCTA.astro";
import NeptunePreview from "../components/NeptunePreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const planetblog = (await getCollection("neptune")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Neptune | Stellar Discussions"
	description="Neptune (Roman) /Poseidon (Greek)"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<div class="wrapper stack gap-2">
				<a class="back-link" href="/planets/"
					><Icon icon="arrow-left" />Planets</a
				>
			<Hero
				title="Neptune"
				tagline="Neptune (Roman) /Poseidon (Greek)"
				align="start"
			/>
			<Grid variant="offset">
				{
					planetblog.map((project) => (
						<li>
							<NeptunePreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
