---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import OffersPreview from "../components/OffersPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("offers"));
---

<BaseLayout
	title="Offers | CHANGEME"
	description="CHANGEME See what I have to offer."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Offers"
				tagline="Ways to work with me"
				align="start"
			/>
			<Grid variant="list">
				{
					projects.map((project) => (
						<li>
							<OffersPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
