---
import { Image } from "astro:assets";
import aboutPicImage from "/src/assets/sol-system.jpg";
import universalMattersImage from "/src/assets/universalmatters-logo.jpg";

import BaseLayout from "../layouts/BaseLayout.astro";

import SupportCTA from "../components/SupportCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="Support | Stellar Discussions"
	description="Support Stellar Discussions"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Support Us"
				tagline="If you find value in the information here, please return that value by showing your support."
			>
				<Image
					width="1553"
					height="873"
					src={aboutPicImage}
					alt="The blue marble"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sponsor</h2>
				<div class="content">
					<p>
						This information has been made available by the generous
						support of Carmelina at Universal Matters. If you are
						looking for spiritual guidance to level up your
						frequency & expand your boundaries, please take a look
						at her website to see what she has to offer.
						<br />
						<a href=`https://universalmatters.global`
							>https://universalmatters.global
						</a>
						<br />
						<a
							class="card"
							href={`https://universalmatters.global`}
						>
							<span class="title"></span>
							<Image
								src={universalMattersImage}
								width="640"
								height="480"
								alt="Universal Matters Logo"
								loading="lazy"
								decoding="async"
							/>
						</a>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Value 4 Value</h2>
				<div class="content">
					<p>
						If you find it valuable, you give value back—in the form
						of time, talent, or treasure. That’s all there is to it,
						really.
						<br />
						<br />
						<p>
							Time: Your time & attention are valuable. Spending
							them is valuable in and of itself. Share this
							information with anyone who would be open to it.
						</p>
						<br />
						<p>
							Talent: If you would like join the exploration team
							& submit questions for upcoming channelings, please
							contact us.
						</p>
						<br />
						<p>Treasure: Donate money to us via Stripe.</ul>
					</p>
				</div>
			</section>
		</main>

		<SupportCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
