---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Icon from "../components/Icon.astro";
import ContactCTA from "../components/ContactCTA.astro";
import UranusPreview from "../components/UranusPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const planetblog = (await getCollection("uranus")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Uranus | Stellar Discussions"
	description="Uranus (Greek) / Caelus or Coelus (Roman)"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<div class="wrapper stack gap-2">
				<a class="back-link" href="/planets/"
					><Icon icon="arrow-left" />Planets</a
				>
			<Hero
				title="Uranus"
				tagline="Uranus (Greek) / Caelus or Coelus (Roman)"
				align="start"
			/>
			<Grid variant="offset">
				{
					planetblog.map((project) => (
						<li>
							<UranusPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
